# Python
__pycache__/
ml-module/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# Node
node_modules/
npm-debug.log
yarn-error.log

# Environment Variables (Secrets)
.env
.env.local
.env.*

# OS
.DS_Store
Thumbs.db

# Next.js
.next/
out/
build/
